.card-grid {

   }
  
  .mini-card {
   padding:1.5rem;
   border-radius:16px;
   background:linear-gradient(85deg,#75508b,#604870);
   box-shadow:-2rem 0 3rem -2rem #000;
   color:#fff;
   display:flex;
   flex-direction:column;
   transition:.2s;
   margin:0;
   margin-bottom:30px;
   p {
       margin: 0;
   }
   h3 {
       font-size:1.4em;
   }
  }
  .mini-card a {
   text-decoration:none
  }
  .mini-card h3 a {
   color:#fff!important
  }
  .mini-card h3 .aal_anchor {
   display:none
  }
  .mini-card .tags {
   margin:0 0 .5rem
  }
  .mini-card .author-name {
   color:#fff
  }
  .mini-card time {
   display:block;
   margin:0 0 .25rem;
   color:#fff;
  }
  .mini-card time strong {
   color:#d4d4d4
  }
  

  .maxi-card {
    
    border-radius:16px;
    background:#66437a;
    box-shadow:-2rem 0 3rem -2rem #000;
    color:#fff;
    display:flex;
    flex-direction:column;
    h3 {
        font-size:1.4em;
    }

    .card__content {
        padding:0;
    }

    img {
        border-radius: 16px;
    }
    .post {
        padding:10px;
    }
    nav {
        padding:10px;
    }

    .comments-area {
        padding:10px;
    }
   }
 
.sidebar {
    margin-top:10px;
 .mini-card {
     margin-bottom:0;
 }
}

 
  
  .author-row {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;

    gap: .5rem;
    align-items: center;
    color: #565656;
    line-height: 1.3;
}

.mini-card.card-alt {
min-height:auto;
min-width:auto;
&:hover {
    transform:none;
}
}

.mini-card.unpadded {
    padding:0;
}
.mini-card .card__content{    
    padding:1.5rem;

}

.uk-button {
    border-radius:12px;
    padding:10px;
    border:none;
    display:grid;
    font-size:1em;
    font-family:inherit;
    font-weight: bold;

}

.post {
    background:rgba(255, 255, 255, 0.822);
    border-radius:16px;
    padding:20px;
    height:100%;
}


@media only screen and (min-width:1024px) {
    
    .card-grid {
        display:flex;
       }
      
      .mini-card {
       padding:1.5rem;
       border-radius:16px;
       background:linear-gradient(85deg,#75508b,#604870);
       color:#fff;
       display:flex;
       flex-direction:column;
       transition:.2s;
       margin:0;
       margin-bottom:0;
       p {
           margin: 0;
       }
       a {
           text-decoration:none;
       }
      }
      
      .mini-card h3 a {
       color:#fff!important
      }
      .mini-card h3 .aal_anchor {
       display:none
      }
      .mini-card .tags {
       margin:0 0 .5rem
      }
      .mini-card .author-name {
       color:#fff
      }
      .mini-card time {
       display:block;
       margin:0 0 .25rem;
       color:#fff;
      }
      .mini-card time strong {
       color:#d4d4d4
      }
      .mini-card {
       min-width:auto;
       min-height:350px;
       box-shadow:-2rem 0 3rem -2rem #000
      }
      .mini-card:focus-within,
      .mini-card:hover {
       transform:translateY(-1rem) rotate(3deg)
      }
      .mini-card:focus-within~.mini-card,
      .mini-card:hover~.mini-card {
       transform:translateX(130px)
      }
      .mini-card:first-child:focus-within,
      .mini-card:first-child:hover {
       transform:translate(-.5rem,-1rem) rotate(3deg)
      }
      .mini-card:not(:first-child) {
       margin-left:-130px;
       box-shadow:-3rem 0 3rem -2rem #000
      }
      
      .author-row {
        -webkit-margin-before: auto;
        margin-block-start: auto;
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: .5rem;
        align-items: center;
        color: #565656;
        line-height: 1.3;
    }
    
    .mini-card.card-alt {
    min-height:200px;
    min-width:auto;
    &:hover {
        transform:none;
    }
    }
}
    .main1-grad {
        background:linear-gradient(85deg,#6d557e,#604870);
    }
    
    .main2-grad {
        background:linear-gradient(85deg,#6d3d9e,#5d2e8c);
    }
    
    .sec1-grad {
        background:linear-gradient(85deg,#b47592,#a66885);
    }

    .sec2-grad {
        background:linear-gradient(85deg,  #89ad9e,  #769889);
    }

  
    
    .darkgrey {
        background:linear-gradient(85deg,rgb(29, 29, 29),#111);
    }
    
    .lightpanel {
        background:linear-gradient(85deg,#161616,#161616);
    }
    
    
    

    .rounded {
        border-radius:18px;
    }

    .rounded-top {
        -webkit-border-top-left-radius: 16px;
-webkit-border-top-right-radius: 16px;
-moz-border-radius-topleft: 16px;
-moz-border-radius-topright: 16px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
    }


    @media only screen and (min-width:1920px){
        .mini-card {
            min-width: 375px;
            min-height: 250px;
            box-shadow: -2rem 0 3rem -2rem #000;
        }
    }